<!-- partial: navbar.html (copy this in each page at top) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="index.html">DeFi App</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" href="request.html">Request Loan</a></li>
          <li class="nav-item"><a class="nav-link" href="fund.html">Fund Loan</a></li>
        </ul>
        <button id="connectBtn" class="btn btn-outline-light">Connect Wallet</button>
      </div>
    </div>
  </nav>
  